<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Intro to Django : Question</title>
</head>
<body>
<header>Polls with Django</header>
<main>
    <h1>Question n° {{question.id}}:</h1>
    <fieldset>
        <legend>{{question.question_text}}</legend>
        {% for choice in question.choice_set.all %}
        <div>
            <input type="radio" id="{{choice.id}}" name="{{question.id}}" value="{{choice}}"
                   checked>
            <label for="{{choice.id}}">{{choice.choice_text}}</label>
        </div>
        {% endfor %}

        <input type="submit" name="{{question.id}}" value="Submit">
    </fieldset>

</main>
<footer>Diane & Django - 2022</footer>

</body>
</html>